section{
    height: 110vh;

}
.chart{
    background-color: white;
    border-radius: 10px;
    text-align: center;
    padding: 20px;
   
    border: solid 1px #DFE7EF;
}
.container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 90%;
    margin: auto;
    grid-gap: 30px;
}

.chart2{
    background-color: white;
    border-radius: 10px;
    text-align: center;
    padding: 20px;
    width: 90%;
    margin: auto;
    margin-top: 30px;
    
   

}
input{
    border: solid 1px #DFE7EF;
    width: 50%;
    padding: 10px;
    border-radius: 10px;

}
.kpi{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 90%;
    margin: auto;
    margin-bottom:20px ;
}
.kpi div{
    border: solid 1px #DFE7EF;
background-color: white;
width: 95%;

height: 90px;
text-align: center;
align-items: center;
border-radius: 10px;
padding-top: 10px;

}


h1{
    font-size: 25px;
    font-weight: 600;
    color: #4547A9;
    
}
h2{
    font-size: 16px;
    font-weight: 400;
    color: #8183F4;
    
}
.filter{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 90%;
    margin: auto;
    margin-bottom: 20px;
}
button{
    background-color: #4547A9;
    color: white;
    font-weight: 500;
border-radius: 5px;
    padding: 10px;
}