<section class="Sidebar">
  <ul>
    <!-- Home -->
    
    <!-- Calcul taxe -->
    <li *ngIf="isAdmin || !isAdmin" routerLinkActive="Active">
      <a class="colorr" routerLink="Calcul">
        <fa-icon [icon]="calcul"></fa-icon> &nbsp;&nbsp; &nbsp;Calcul des taxes
      </a>
    </li>
   
    <!-- Taxe Redevance -->
    <li *ngIf="isAdmin || !isAdmin" routerLinkActive="Active">
      <a class="colorr" routerLink="Redevance">
        <fa-icon [icon]="rdv"></fa-icon> &nbsp;&nbsp; &nbsp;Taxe Redevance
      </a>
    </li>
    <!-- Taxe TRP -->
    <li *ngIf="isAdmin || !isAdmin" routerLinkActive="Active">
      <a class="colorr" routerLink="Trp">
        <fa-icon [icon]="trp"></fa-icon> &nbsp;&nbsp; &nbsp;Taxe TRP
      </a>
    </li>

    <!-- Analyse de la production -->
    <li *ngIf="isAdmin" routerLinkActive="Active">
      <a class="colorr" routerLink="Statistique">
        <fa-icon [icon]="Oil"></fa-icon> &nbsp;&nbsp; &nbsp;Analyse de la
        production
      </a>
    </li>
    <!-- Analyse de la fiscalite -->
    <li *ngIf="isAdmin" routerLinkActive="Active">
      <a class="colorr" routerLink="Acceuil">
        <fa-icon [icon]="dollar"></fa-icon> &nbsp;&nbsp; &nbsp;Analyse de la
        fiscalité
      </a>
    </li>
    <!-- Analyse du marche -->
    <li *ngIf="isAdmin" routerLinkActive="Active">
      <a class="colorr" routerLink="Analyse">
        <fa-icon [icon]="stat"></fa-icon> &nbsp;&nbsp; &nbsp;Analyse du marché
      </a>
    </li>
    <!-- Ajouter un nouveau compte -->
    <li *ngIf="isAdmin" routerLinkActive="Active">
      <a class="colorr" routerLink="AjoutCompte">
        <fa-icon [icon]="add"></fa-icon> &nbsp;&nbsp; &nbsp;Ajouter un nouveau
        compte
      </a>
    </li>
    <!-- Logout button -->
    <li>
      <button (click)="logout()">
        Se déconnecter &nbsp;&nbsp; &nbsp; <fa-icon [icon]="logoutt"></fa-icon>
      </button>
    </li>
  </ul>
</section>
