<div class="fixed inset-0 z-50 flex items-center justify-center bg-gray-800 bg-opacity-50">
  <div class="popupContainer">


    <h1 class="popupH1">Insérer l'état de production définitif</h1>
    <hr class="popupHr">
    
    <form class="popupForm" (ngSubmit)="submitForm()" #form="ngForm">
      <div class="popupDiv">
        <p class="popupP">Période en cours</p>
        <input class="popupInput" type="text" [(ngModel)]="currentDate" [value]="currentDate" />
      </div>
      <div class="popupDiv">
        <p class="popupP">État de production</p>
        <input type="file" class="popupInput" (change)="onFileChange($event)" name="file" ngModel required />
      </div>
      <div class="popupButtonContainer">
        <button class="popupButtonAnnuler" (click)="closePopup()">Fermer</button>
        <button class="popupButton" type="submit">Insérer</button>
      </div>

      <div *ngIf="successMessage" class="popupMessage success">{{ successMessage }}</div>
      <div *ngIf="errorMessage" class="popupMessage error">{{ errorMessage }}</div>
    </form>
  </div>
</div>
